@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1673102363427') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e756";
}

.icon-music:before {
  content: "\e608";
}

.icon-toTop2:before {
  content: "\e606";
}

.icon-toTop:before {
  content: "\e7c2";
}

.icon-shenghuo:before {
  content: "\e6ab";
}

.icon-biji:before {
  content: "\e60d";
}

.icon-tupian:before {
  content: "\e695";
}

.icon-airudiantubiaohuizhi-zhuanqu_youxi:before {
  content: "\e69d";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-a-youjianchakanyoujianfasongyoujianshouyoujian-01:before {
  content: "\e917";
}

